#--------------------------------------------------------------------
# IT0049 POS (TFA2-TFA4) - Copy this file to ".env" and fill in your values.
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.baseURL = 'http://localhost:8080/'

#--------------------------------------------------------------------
# DATABASE (XAMPP defaults: user "root", empty password)
#--------------------------------------------------------------------
database.default.hostname = localhost
database.default.database = pos_db
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
