# Use these values in the ".env" you upload to InfinityFree.
# Replace every XXXX with the values from InfinityFree Control Panel > MySQL Databases.

CI_ENVIRONMENT = production

app.baseURL = 'https://your-tfa3-subdomain.infinityfreeapp.com/'

database.default.hostname = sqlXXX.infinityfree.com
database.default.database = if0_XXXXXXXX_pos_db
database.default.username = if0_XXXXXXXX
database.default.password = YOUR_INFINITYFREE_DB_PASSWORD
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
